*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    
}

.audio-btn{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAcUlEQVQ4y2P4//8/AyUYQhAH3gNxA7IAIQPmo/H3g/QA8XkgFiBkwHyoYnRQABVfj88AmGZcTuuHyjlgMwBZM7IE3NlQGhQe65EN+I8Dw8MLGgYoFpFqADK/YUAMwOsFigORatFIlYRElaRMWmaiBAMAp0n+3U0kqkAAAAAASUVORK5CYII=);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 8px;
    opacity: .5;
    width: 16px;
    display: inline-block;
}
.span-playing{
    font-size: 10px;
    font-style: italic;
    background-image: none !important;
}
span:hover {
    opacity: 1;
}

body{
    background: #eee;
}
header{
    text-align: center;
    padding: 1rem 0;
    background: #449;
    color: #fff;
    box-shadow: 0 0 8px -3px rgba(0,0,0,0.5);
}
#main{
    max-width: 800px;
    margin: 40px auto;
}

#content{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.word{
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin: 2px;
    border-radius: 8px;
    user-select: none;
    transition: 0.2s all ease;
    overflow: hidden;
    box-shadow: 0 0 8px -6px rgba(0,0,0,0.5);
    border: 2px solid #0000;


button{
    background-color: #370b0b;
    border:0;
    padding: 0px 8px;
    color: #fff;
    opacity:0;
    transition: 0.2 all ease;
}
    h4{
    padding: 15px 10px 15px 35px;
    /* transition: padding-right 0.3s ease; */

    }
}
.word:hover{
    background: rgba(255, 253, 253, 0.438);
    border: 2px solid #370b0b;
}
.word:hover button{
    opacity:1;

}
.word .lang{
    opacity: 0;
    padding: 0 4px 2px;
    font-size: 0.8rem;
    margin-left: -2px;
    margin-top: -10px;
    border-radius: 8px 8px 8px 0;
    position: absolute;

}
.word:hover .lang{
    background: #370b0b;
    color: #fff;
    opacity: 1;
}

ul{
    text-align: start;
}
h4{
    display: flex;
    text-transform: capitalize;
}

#mean{
    display: none;
    justify-content: center;
    align-items: center;
    background: #0008;
    width: 100vw;
    height: 100vh;
    position:fixed;
    top:0;
    left: 0;
}
#means{
    background: #fff;
    position: fixed;
    max-width: 80%;
    width: 500px;
    border: 1px solid #949494;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    overflow: auto;
    height: fit-content;
    max-height: 70dvh;
}

.means-meta {
    padding: 2rem 1rem 1rem 2rem;
    border-bottom: 1px solid #f2e9e9;
    box-shadow: 0 0 8px -6px rgba(0,0,0,0.5);
    display: flex;
    gap:1rem;
}

.type{
    color: #888;
    font-style: italic;
}

.means-li {
    padding: 0.6rem 1rem 2rem 4rem;
}

.close-btn{
    position:absolute;
    top: 0;
    right: 0;
    border: 0;
    background: #a30303;
    color: #fff;
    padding: 5px 10px;
}

li:not(:last-child){
    border-bottom: 1px solid #b6b4b48c;
}
li{
    padding: 10px 0;
}

#actions{
    display: flex;
    align-items: center;
    gap:2rem;
}
select {
    border: 2px solid #1661b0;
    padding: 5px 10px;
    border-radius: 0;
    font-size: 15px;
    background: #fff;
    border-radius: 7px;
}
#no-word-found{
    margin: 40px auto;
    background: #fff;
    width: max-content;
    padding: 30px;
    border: 1px solid #aaa;
}


#storage-changed{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: none;
    p{
        background:gold;
        width: max-content;
        margin: auto;
        padding:10px 25px;
        color:#333;
    }
}
/*========== 
* Dark Mode
===========*/

#dark {
    background: #23222b;
    color: #fff;
}

#dark #no-word-found, #dark .word {
  background: #32313a;
  border: 2px solid #555;
}

#dark .word:hover {
  background: #494754;
  border: 2px solid #fff;
}

#dark .word:hover .lang{
    background: #fff;
    color: #000;
}

#dark #mean {
  background: rgba(21, 20, 27, 0.5);
}

#dark #means {
  background: #1b1b1b;
  box-shadow: 0 0 15px rgba(190,190,190,0.6);
}

#dark .audio-btn {
  filter: invert(1);
}
#dark .remove-btn {
    background-color: #fff;
    color: #000;
}

#dark .span-playing {
  filter: invert(0);
}


