.audio-btn{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAcUlEQVQ4y2P4//8/AyUYQhAH3gNxA7IAIQPmo/H3g/QA8XkgFiBkwHyoYnRQABVfj88AmGZcTuuHyjlgMwBZM7IE3NlQGhQe65EN+I8Dw8MLGgYoFpFqADK/YUAMwOsFigORatFIlYRElaRMWmaiBAMAp0n+3U0kqkAAAAAASUVORK5CYII=);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 8px;
    opacity: .5;
    width: 16px;
    display: inline-block;
}
.span-playing{
    font-size: 10px;
    font-style: italic;
    background-image: none !important;
}
span:hover {
    opacity: 1;
}

body{
    background: #eee;
}

#main{
    max-width: 800px;
    margin: 40px auto;
}

#content{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.word{
    flex-basis: 100px;
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    height: 50px;
    margin: 2px;
    border-radius: 8px;
    text-transform: capitalize;
    user-select: none;
    transition: 0.2s all ease;
}
.word:hover{
    background: rgba(255, 253, 253, 0.438);
}

ul{
    text-align: start;
}
h4{
    display: flex;
}

#mean{
    display: none;
    justify-content: center;
    align-items: center;
    background: #0008;
    width: 100vw;
    height: 100vh;
    position:fixed;
    top:0;
    left: 0;
}
#means{
    background: #fff;
    position: fixed;
    padding: 40px 50px;
    max-width: 400px;
    /* width: 400px; */
    border: 1px solid #aaa;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    overflow: auto;
    height: fit-content;
    max-height: 80dvh;
}

.close-btn{
    position:absolute;
    top: 0;
    right: 0;
    border: 0;
    background: #a30303;
    color: #fff;
    padding: 5px 10px;
}

li:not(:last-child){
    border-bottom: 1px solid #ccc;
}
li{
    padding: 10px 0;
}

#lang-filter {
    border: 2px solid #1661b0;
    padding: 5px 10px;
    border-radius: 0;
    font-size: 15px;
    background: #fff;
}
#no-word-found{
    margin: 40px auto;
    background: #fff;
    width: max-content;
    padding: 30px;
    border: 1px solid #aaa;
}
/*========== 
* Dark Mode
===========*/

#dark {
    background: #23222b;
  color: #fff;
}

#dark #no-word-found, #dark .word {
  background: #32313a;
  border: 1px solid #555;
}

#dark .word:hover {
  background: #494754;
}

#dark #mean {
  background: rgba(21, 20, 27, 0.5);
}

#dark #means {
  background: #1b1b1b;
  box-shadow: 0 0 15px rgba(190,190,190,0.6);
}

#dark .audio-btn {
  filter: invert(1);
}

#dark .span-playing {
  filter: invert(0);
}

